venv/
TASK-TRACKER/media/*
TASK-TRACKER/Task/migrations/*
TASK-TRACKER/comment/migrations/*
TASK-TRACKER/Task/__pycache__/*
TASK-TRACKER/comment/__pycache__/*
TASK-TRACKER/Task_Tracker/__pycache__/*
TASK-TRACKER/Task_Tracker/__pycache__/settings.cpython-310.pyc
TASK-TRACKER/db.sqlite3

