venv/

Task_Tracker/Task/migrations/*
Task_Tracker/comment/migrations/*
Task_Tracker/Task/__pycache__/*
Task_Tracker/comment/__pycache__/*
Task_Tracker/Task_Tracker/__pycache__/*
Task_Tracker/Task_Tracker/__pycache__/settings.cpython-310.pyc
Task_Tracker/db.sqlite3

